html {
  background-color: #2c2a2a;
  height: 1500px;
}

footer , #action-bar {
  background-color:rgb(0, 69, 138);
  height: 100px;
}

a{
text-decoration: none;
color: aliceblue;
font-family: Helvetica, sans-serif;
font-size: 18px;
font-weight: 500;
margin-left: 60px;
text-decoration: solid;
}

#Trending{
margin-left: 120px;
}

footer{
  height: 300px;
}

.footer{
  text-align: center;
  text-transform: capitalize;      
  font-family: monospace;
  font-size: large;
  color: rgb(255, 255, 255);
}

.containers{
  height:350px;
  width: 250px;
 margin-left:40px; 
 margin-top: 30px;
 margin-bottom: 30px;
 background-color: aliceblue;
 display: inline-block;
}

